html {
    height: 100%; width: 100%;
}

body {
    height: 100%; width: 100%;
    margin: 0; padding: 0; border: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px; line-height: 15px;
    background: #e2eee5;
}

img { border: none; }
a { color: #112B4C }
a:hover { color: #1A446C }

#header {
    height: 70px;
    margin: 0; padding: 0; text-align: left;
    background: #1A446C; color: #D4E6F4;
}

#header h1 { padding: 1em; margin: 0 }
#main {
    height: 600px; width:  100%;
    margin: 0; padding: 0;
    background: #e2eee5;
}

#footer {
    clear: both;
    height: 2em; margin: 0; padding: 1em;
    text-align: center;
    background: #1A446C; color: #D4E6F4;
}

/* Navigation */
#navigation {
    float: left;
    width: 150px; height: 100%;
    margin: 0; padding: 0 2em;
    color: #D4E6F4; background: #112B4C;
}

#navigation a { color: #D4E6F4; text-decoration: none; }
#navigation a:hover { color: #FFFFFF; }

ul.subjects {
    margin: 1em; padding-left: 0; list-style: none;
}

ul.pages { padding-left: 2em; list-style: square; font-weight: normal;}
.selected { font-weight: bold; }

/* Page Content */
#page {
    float: left; height: 100%;
    padding-left: 2em; vertical-align: top;
    background: #e2eee5;
}

#page h2 { color: #112B4C; margin-top: 1em; }
#page h3 { color: #112B4C; }

.view-content{
    margin: 1em; padding: 1em; border: 2px solid #999;
}

div.message {
    border: 2px solid #112B4C;
    color: #112B4C; font-weight: bold;
    margin: 1em 0; padding: 1em;
}

.error {
    color: #112B4C; border: 2px solid #112B4C;
    margin: 1em 0; padding: 1em;
}
.error ul{ padding-left: 2em;}